@charset "utf-8";
/* CSS Document */

h2 {
	width: auto;
	background: #1259a8;
	padding: 10px;
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
}
h3 {
	display: block;
	padding: 10px 0 10px 10px;
	background: #0c0c0c;
	width: auto;
	margin: 30px 0 0;
	color: #fff;
}
input[type=text] {
	box-shadow: #bababa 0 0 5px inset !important;
	border: solid 1px #b8b8b8;
}
#customTheme input.resetBotton, #customTheme input.resetBotton:focus {
	background: #464646 !important;
	border: solid 1px #2c2c2c;
	box-shadow: 0 1px 0 rgba(47, 47, 47, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
	color: #FFFFFF;
	text-decoration: none;
	padding: 0 10px;
}
.wp-core-ui .button-primary, #customTheme input.button-primary:focus, #customTheme input.button-primary:hover {
	background: none repeat scroll 0 0 #464646;
	border-color: #2c2c2c;
	box-shadow: 0 1px 0 rgba(47, 47, 47, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
	color: #FFFFFF;
	text-decoration: none;
}
.form-table {
	background: #e5e5e5;
	margin: 0;
	padding: 0;
}
.form-table td {
	border-right: solid 1px #dddddd;
	border-bottom: solid 1px #dddddd;
	padding: 15px 10px 15px;
}
.form-table tr:nth-child(even) {
	background: #f1f1f1;
}
.form-table tr:nth-child(odd) {
	background: #eaeaea;
}
.form-table td:first-of-type {
	width: 25% !important;
	color: #1f0000;
}
#customTheme table.form-table:last-of-type {
	margin-bottom: 20px;
}
.preview, .previewlarg{
	float: left; 
	max-width:100%; 
	width:100%;
}
.preview img {
	width:auto;
	height:auto; 
	display:block;
}
.previewlarg img{ 
	width:100%;
}
input[type=file] {
	position: relative;
}
input[type=file]:after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: "";
	right: 0;
	bottom: 0;
	/*background: #39F;*/
}
textarea{ 
	resize:vertical; 
	width:70%;
	height:200px;
	}
.socialIcon div.preview {
	width: 100%;
}
.socialIcon img {
	width: auto;
	display: block;
	margin: 0px auto;
}
.form-table td.innerDivi {
	padding: 15px 0px;
}
.form-table td.innerDivi tr {
	background: none;
}
.form-table td.innerDivi td {
	border: none;
}
.preview2 {
	float: none;
	display: inline-block;
}
